@import '../../_variables.scss';

.daily{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    border-left: $border;
    border-bottom: $border;
    padding: 0;
}

.averages{
    padding: 1rem;
    display: grid;
    margin-top:0;
    grid-template-columns: 0% repeat(4, 25%);
    flex-direction: row;

    border: $border;
    border-radius: .2rem;
    transition: all 1000ms;
}

.list{
    color: $secondary-text-color;
    font-weight: 500;
    position: relative;
    list-style: none;
    padding:0;
    width: 500px;

    top: 5.5rem;
}

.prcp{
    position: relative;
    top: 3.5rem;
}

.humidity{
    position: relative;
    top: 8.6rem;

}

.pressure{
    position: relative;
    top: 12rem;

}

.wind {
    position: relative;
    top: 17.7rem;
}

@media (max-width: 700px){
    .averages{
        border: none;
        border-top: $border;
        border-bottom: $border;
        border-radius: 0;
    }
}