@import "../../variables";

.ul {
  background-color: rgb(236, 236, 236);
  list-style: none;
  position: absolute;
  padding: 0;
  top: 2.7rem;
  border-bottom: 1px grey solid;
  max-height: 80vh;
  overflow: auto;
  z-index: 101;
}

.dark {
  background-color: $main-color-dark;
}

@media (max-width: 700px) {
  .ul {
    top: 6.3rem;
    left:0;
    // height: 100vh;
   
  }
}
