@import '../../variables';

.li{
    font-size: small;
    border-top: 1px grey solid;
    padding: .5rem;
}

.li:hover{
    background-color: rgb(185, 185, 185);
}

.li p {
    margin: 0;
    padding:0;
}

.dark:hover{
    background-color: $accent-color-dark;
}

@media(max-width: 700px){
    .li{
        padding-left: 1rem;
        padding-right: 1rem;
    }
}