@import '../variables';

.footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

a {
  color: $link;
}
a:visited {
  color: $link-visited;
}
