@import  '../../variables';
.list{
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
    border-bottom: .05rem solid gray;
}


@media (min-width: 700px){
    .list {
        display: grid;
        grid-template-columns: 4fr 1fr 1fr 1fr;
        margin-left: 6%;
        margin-right: 6%;
        gap: 1rem;
        border: none;
    }
}