@import  '../../variables';

.today{
    list-style: none;
    border: $border;
    border-radius: .2rem;
    grid-row: 1/3;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.main-elements{
    display: flex;
    justify-content: center;
    margin: 1rem;
    gap: .5rem;
    
}

.today__list{
    list-style: none;
    padding-left:0;
    width: 80%;
}

.today__list_element{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.wind{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 0;
}

.wind-text{
    margin: 0;
}

@media (max-width: 700px){
    .today{
        border: none;
        border-top: $border;
        border-radius: 0;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
}