@import '../../_variables.scss';

.date{
    text-align: left;
}

.weekday{
    font-weight: 700;
    
}

.weekend{
    color: $accent-color;
}

.day{
    color: $secondary-text-color;
}

@media (min-width: 700px){

    .date{
        text-align: center;
    }
}